body{
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
}
.app{
  text-align: center;
}
.boxcontainer{
  margin-top: 5%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
}
.box{
  width: 50px;
  height: 50px;
}

.bigbox{
  border: 1px solid rgb(134, 124, 124);
  width: 50px;
  height: 50px;
}
.bigboxcontainer{
  display: inline-block
}

.selectedcolor{
  width: 70px;
  height: 70px;
  text-align: center;
  border: 2px solid black;
  position: absolute;
  right: 48%;
  margin-top: 10px;
  /* top: 56%; */
  /* left: 0; */
  

}

/* .bigboxes{
  text-align: center;
  margin-top: 100px;
} */

.selectcontainer{
  text-align: center;
  margin: 50px;
}

.boxgrid{
  margin-top: 150px;
  max-width: 800px;
  text-align: center;
position: relative;
	display: flex;
	flex-flow: row wrap;
}
.onebox{
width: 50px;}

