body{
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  
}
.app{
  text-align: center;
}
.boxcontainer{
  margin-top: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 800px;
}
.box{
  width: 50px;
  height: 50px;
}

.bigbox{
  border: 2px solid black;
  width: 100px;
  height: 100px;
}
.bigboxcontainer{
  display: inline-block
}

.selectedcolor{
  /* text-align: center;
  width: 100px;
  height: 100px; */
  width: 70px;
  height: 70px;
  text-align: center;
    border: 2px solid black;

}

.bigboxes{
  text-align: center;
  margin-top: 50px;
}

.selectcontainer{
  text-align: center;
  margin: 50px;
}